.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 150vh;
  
}

.search{
  width: 100%;
  display: flex;
  padding: 50px 0;
  justify-content: center;
  background-color: #140c5c;
}
.search__inner{
  width: 100%;
  max-width: 1000px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.search__inner h3{
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}
.search__inner option{
  font-size: 1rem;
  font-weight: 400;
  color: #140c5c;
}
.search__inner input, .search__inner select{
  flex: 1;
  min-width: 200px;
  padding: 15px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  transition: .3s;
}
.search__inner input::placeholder{
  color: #ccc;
}
.search__inner input:focus{
  border: 1px solid #bbd344;
}
.search__inner button{
  padding: 15px;
  font-size: 1.2rem;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #bbd344;
  color: #140c5c;
  cursor: pointer;
  transition: .3s;
}
.search__inner button:hover{
  background-color: #fff;
  color: #bbd344;
}

.popular{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  position: relative;
}
.popular__bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
  filter: brightness(.5);
}
.popular__bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular h2{
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 50px;
}
.popular__con{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.popular__item{
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: .3s;
  border-radius: 10px;
}
.popular__item:hover{
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
}
.popular__item img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-color: transparent;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.popular__item h3{
  font-size: 1.2rem;
  /* font-weight: 400; */
  text-align: center;
  color: #fff;
  padding: 10px;
  width: 120%;
  background-color: #bbd344;
  clip-path: polygon(100% 0, 95% 50%, 100% 99%, 0% 100%, 5% 50%, 0% 0%);
}
.popular__content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.popular__content p{
  font-size: .9rem;
  font-weight: 400;
  color: #555;
  text-align: justify;
  word-break: break-all;
  line-height: 1.5;
}
.popular__content span{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular__content a{
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  color: #bbd344;
  background-color: #140c5c;
  border-radius: 9999px;
  transition: .3s;
}
.popular__content a:hover{
  background-color: #bbd344;
  color: #fff;
}

/* //////////////////////////////////////////////// */
.pd{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.pd__text{
  width: 100%;
  padding: 70px 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pd__title{
  display: flex;
  align-items: center;
  gap: 10px;
}
.pd__title h2{
  font-size: 2rem;
  font-weight: 400;
}
.pd__title svg{
  width: 30px;
  height: 30px;
  fill: #bbd344;
}
.pd__text p{
  font-size: .9rem;
  font-weight: 400;
  color: #555;
  line-height: 1.8;
}

/* /////////////// */
.pd__list{
  width: 100%;
  display: flex;
  justify-content: center;
}
.pd__item{
  height: 400px;
  position: relative;
  overflow: hidden;
}
.pd__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pd__item__inner{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #fff;
  background: linear-gradient(to top, #000000aa, transparent 50%);
  transition: .3s;
}
.pd__item__inner:hover{
  background-color: rgba(0,0,0,.6);
}
.pd__item__text{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  transition: .3s;
  transform: translateY(100%);
}
.pd__item__inner a{
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  color: #bbd344;
  border-bottom: 5px solid #bbd344;
  transition: .3s ease-in-out;
  padding: 10px 20px;
  transform: translateY(100%);
}
.pd__item__inner:hover .pd__item__text{
  /* padding-bottom: 0; */
  transform: translateY(0);
}
.pd__item__inner:hover a{
  padding-top: 0;
  transform: translateY(0);
}

/* ////////////////////////////////////////////////////////////////// */
.articles{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  padding-top: 100px;
}
.articles__con{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.articles__con h2{
  font-size: 2rem;
  font-weight: 400;
}
.articles__con h2 svg{
  width: 30px;
  height: 30px;
  fill: #bbd344;
}
.articles__list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.article__item{
  position: relative;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__text{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  color: #fff;
  background-color: #000000aa;
  padding: 20px;
  text-align: center;
  transition: .3s;
}
.article__text:hover{
  opacity: 1;
}